#########
# ALIAS #
#########

# remore previous aliases
unalias -a

# User defined aliases
alias vi="nvim"
alias vim="nvim"
alias ag="\$SCRIPTS/ag.sh"
alias ls='ls -h --color=auto --group-directories-first --sort=extension'
alias l='ls -l'
alias ll='ls -lA'
alias less='less -i'
alias grep='grep --color'
alias grep-source='grep --include={"*.[hc]","*.[hc]pp","*.java","*.py","*.js","*.ejs","*.html","*.sh","*.tex","*.vim"}'
alias info='info --vi-keys'
alias weather="$SCRIPTS/weather.sh"
alias myip='curl ipinfo.io/ip'
alias cp='cp -i'
alias ra='ranger'
alias ssh='TERM=xterm-256color ssh'

alias xxstartx='exec startx &> /dev/null'
alias update-time='sudo ntpdate pt.pool.ntp.org'
alias fix-lol="sudo sh -c 'sysctl -w abi.vsyscall32=0'"

# project aliases
alias gbtcd='cd $($SCRIPTS/project/manage.sh gbt --get)'
alias percd='cd $($SCRIPTS/project/manage.sh personal --get)'
alias mtdcd='cd $(mtd --select)'

# wine aliases
alias wine="WINEPREFIX=\$HOME/.config/wine/wine32 wine"
alias wine64="WINEPREFIX=\$HOME/.config/wine/wine64 wine64"
alias winecfg="WINEPREFIX=\$HOME/.config/wine/wine32 winecfg"
alias wine64cfg="WINEPREFIX=\$HOME/.config/wine/wine64 winecfg"

# rmtrash / trash-cli
alias rm='rmtrash'
alias rmdir='rmdirtrash'
alias sudo='sudo '
