#########
# ALIAS #
#########

# remore previous aliases
unalias -a

# commands overwritte
alias vi='nvim'
alias vim='nvim'
alias ls='ls -h --color=auto --group-directories-first --sort=extension'
alias l='ls -l'
alias ll='ls -lA'
alias less='less -i'
alias grep='grep --color'
alias info='info --vi-keys'
alias cp='cp -i'
alias jo='joshuto'
alias ssh='kitty +kitten ssh'
alias cdiff='diff-so-fancy | less --tabs=4 -RFX'
alias trans='$SCRIPTS/other/trans'
alias formconf='$SCRIPTS/format_config.sh'
alias netbeans='netbeans --userdir "$XDG_CONFIG_HOME/netbeans"'
alias nvidia-settings='nvidia-settings --config="$XDG_CONFIG_HOME/nvidia/settings"'
alias wget='wget --hsts-file="$XDG_DATA_HOME/wget-hsts"'
alias xbindkeys=xbindkeys -f "$XDG_CONFIG_HOME/xbindkeys/config"
alias nocolor='sed -r "s/\x1B\[([0-9]{1,3}(;[0-9]{1,2})?)?[mGK]//g"'
alias markreport='$HOME/Applications/MarkReport/MarkReport/MarkReport.py'

# rmtrash / trash-cli
alias rm='rmtrash'
alias rmdir='rmdirtrash'
alias sudo='sudo '

# auxiliar 'commands' aliases
alias weather='$SCRIPTS/weather.sh'
alias myip='curl ipinfo.io/ip && echo'
alias xxstartx='exec startx &> /dev/null'
alias update-time='sudo ntpdate pt.pool.ntp.org'
alias esp-tags='cp "$HOME/Globaltronic/espressiff/generate-tags.sh" .'
alias esp-reset='$SCRIPTS/esp-reset.sh'
alias esp-start='$SCRIPTS/esp-start.sh'
alias esp-flash='$SCRIPTS/esp-flash.sh'
alias nrf-start='source $SCRIPTS/nrf-start.sh'
alias zephyr-start='source $SCRIPTS/zephyr-start.sh'
alias mtd='$SCRIPTS/tempdir.sh'
alias mcd='cd $(mtd --select)'

# project aliases
alias gcd='cd $($SCRIPTS/project/manage.sh gbt --get)'
alias gtask='$SCRIPTS/project/taskwarrior_project.sh gbt'
alias pcd='cd $($SCRIPTS/project/manage.sh per --get)'
alias ptask='$SCRIPTS/project/taskwarrior_project.sh per'

# nvidia programs
# alias prusa-slicer='prime-run prusa-slicer'
# alias prusa-gcodeviewer='prime-run prusa-gcodeviewer'
# alias freecad='prime-run freecad'
# alias blender='prime-run blender'
# alias godot='prime-run godot'
# alias godot4='prime-run godot4'
# alias pixelorama='prime-run pixelorama'
# alias unity='prime-run $HOME/Applications/Unity/2021.3.6f1/Editor/Unity'
