#########
# ALIAS #
#########

# remore previous aliases
unalias -a

# commands overwritte
alias ag="\$SCRIPTS/ag.sh"
alias vi='nvim'
alias vim='nvim'
alias ls='ls -h --color=auto --group-directories-first --sort=extension'
alias l='ls -l'
alias ll='ls -lA'
alias less='less -i'
alias grep='grep --color'
alias info='info --vi-keys'
alias cp='cp -i'
alias ra='ranger'
alias ssh='TERM=xterm-256color ssh'
alias cdiff='diff-so-fancy | less --tabs=4 -RFX'
alias trans='$SCRIPTS/other/trans'

# wine aliases
alias wine="WINEPREFIX=\$HOME/.config/wine/wine32 wine"
alias wine64="WINEPREFIX=\$HOME/.config/wine/wine64 wine64"
alias winecfg="WINEPREFIX=\$HOME/.config/wine/wine32 winecfg"
alias wine64cfg="WINEPREFIX=\$HOME/.config/wine/wine64 winecfg"

# rmtrash / trash-cli
alias rm='rmtrash'
alias rmdir='rmdirtrash'
alias sudo='sudo '

# auxiliar 'commands' aliases
alias weather='$SCRIPTS/weather.sh'
alias myip='curl ipinfo.io/ip'
alias xxstartx='exec startx &> /dev/null'
alias update-time='sudo ntpdate pt.pool.ntp.org'
alias fix-lol="sudo sh -c 'sysctl -w abi.vsyscall32=0'"
alias esp-tags='cp "$HOME/Globaltronic/espressiff/generate-tags.sh" .'
alias esp-manage='$HOME/Globaltronic/espressiff/scripts/manage'
alias esp-reset='$SCRIPTS/esp-reset.sh'
alias mcd='cd $(mtd --select)'

# project aliases
alias gcd='cd $($SCRIPTS/project/manage.sh gbt --get)'
alias gtask='$SCRIPTS/project/taskwarrior_project.sh gbt'
alias pcd='cd $($SCRIPTS/project/manage.sh per --get)'
alias ptask='$SCRIPTS/project/taskwarrior_project.sh per'

# other
alias godot-vim='nvim --listen godothost'
