configuration {
    font            : "FiraCode Nerd Font Medium 12";
	show-icons      : true;
    display-ssh     : "";
    display-run     : "";
    display-drun    : "";
    display-window  : "";
    display-combi   : "";
}

@theme "squared-material-green.rasi"
